language: node_js
node_js:
  - 12.13.0
deploy:
  provider: pages
  skip_cleanup: true
  keep_history: true
  github_token: ${{githubTokenBis}}
  on:
    branch: master

install:
  - npm install

script:
  - npm run test:coveralls

notifications:
  - email:false


services:
  -mysql

before_install:
  -sudo mysql -e 'CREATE DATABASE td_list_test

 

matrix:
  include:
    - env: DB=MYSQL57
      sudo: required
      dist: trusty
      go: 1.10.x
      services:
        - docker
      before_install:
        - go get golang.org/x/tools/cmd/cover
        - go get github.com/mattn/goveralls
        - docker pull mysql:5.7
        - docker run -d -p 127.0.0.1:3306:3307 --name mysqld -e MYSQL_DATABASE=root -e MYSQL_USER=root -e MYSQL_PASSWORD=root -e MYSQL_ROOT_PASSWORD=root
          mysql:5.7 --innodb_log_file_size=256MB --innodb_buffer_pool_size=512MB --max_allowed_packet=16MB --local-infile=1
        - cp .travis/docker.cnf ~/.my.cnf
        - .travis/wait_mysql.sh
      before_script:
        - export MYSQL_TEST_USER=root
        - export MYSQL_TEST_PASS=root
        - export MYSQL_TEST_ADDR=127.0.0.1:3307
        - export MYSQL_TEST_CONCURRENT=1
